Using data from Kevin Ummel and the American Community Survey Supplemental Poverty Measure research file.

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import microdf as mdf
from ubicenter import format_fig
import pyreadr

c = pd.read_csv("../data/carbon_footprint_2018.csv")
cuid_sporder = pd.DataFrame(list(pyreadr.read_r('../data/CUID-SPORDER.rds').values())[0])
p = pd.read_csv("../data/acs_poverty.csv.gz")

In [5]:
# Per Kevin Ummel, serialno is first 13 characters of CUID
def cuid2serialno(cuid):
    return cuid.str[6:13].astype(int)

cuid_sporder["serialno"] = cuid2serialno(cuid_sporder.CUID)
c["serialno"] = cuid2serialno(c.CUID)
ch = c.drop(columns="CUID").groupby("serialno").sum().reset_index()
# Columns to rename as they're aggregated to household.
ch_cols = ch.columns.drop("serialno")
ch.rename(columns=dict(zip(ch_cols, [i + "_hh" for i in ch_cols])), inplace=True)
# Assign emissions equally across household members.
p_per_h = p.groupby("serialno").size().reset_index().rename(columns={0: "people_in_hh"})
p = p.merge(p_per_h, on="serialno").merge(ch, on="serialno")
for i in ch_cols:
    p[i] = p[i + "_hh"] / p.people_in_hh

SPMU_COLS = ["id", "povthreshold", "resources"]
# EICDA gives full dividend credit to adults and half to kids.
p["credits"] = np.where(p.age < 18, 0.5, 1)
s = p.groupby(["spm_" + i for i in SPMU_COLS])[["credits", "tco2"]].sum().reset_index()
PRICE = 15
total_co2 = mdf.weighted_sum(p, "tco2", "wt")
total_credits = mdf.weighted_sum(p, "credits", "wt")
co2_per_credit = total_co2 / total_credits
s["co2_tax"] = s.tco2 * 15
s["dividend"] = s.credits * co2_per_credit * PRICE
s["spm_resources_new"] = s.spm_resources + s.dividend - s.co2_tax
# Merge back to person.
p = p.merge(s[["spm_id", "spm_resources_new"]], on="spm_id")

In [6]:
p

,serialno,sporder,wt,age,spm_id,spm_povthreshold,spm_resources,people_in_hh,tco2_hh,tco2_direct_hh,invest_assets_hh,tco2,tco2_direct,invest_assets,credits,spm_resources_new
0,1.0,1.0,95.0,31.0,1.001000e+03,13257.998717,84922.922400,1,55.80,15.08,0.4840,55.800,15.080000,0.484000,1.0,84451.387791
1,2.0,1.0,64.0,69.0,2.001000e+03,15260.377969,98005.314955,2,68.60,23.55,1.0080,34.300,11.775000,0.504000,1.0,97707.245737
2,2.0,2.0,65.0,71.0,2.001000e+03,15260.377969,98005.314955,2,68.60,23.55,1.0080,34.300,11.775000,0.504000,1.0,97707.245737
3,3.0,1.0,19.0,58.0,3.001000e+03,15946.591880,41795.643698,2,30.23,16.52,0.7650,15.115,8.260000,0.382500,1.0,42073.124480
4,3.0,2.0,17.0,59.0,3.001000e+03,15946.591880,41795.643698,2,30.23,16.52,0.7650,15.115,8.260000,0.382500,1.0,42073.124480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3061059,1400926.0,2.0,126.0,66.0,1.400926e+09,25706.194000,97274.729642,3,86.40,39.80,0.4790,28.800,13.266667,0.159667,1.0,97075.125815
3061060,1400926.0,3.0,112.0,42.0,1.400926e+09,25706.194000,97274.729642,3,86.40,39.80,0.4790,28.800,13.266667,0.159667,1.0,97075.125815
3061061,1400927.0,1.0,93.0,27.0,1.400927e+09,34619.753000,44792.800734,3,37.35,7.78,0.1124,12.450,2.593333,0.037467,1.0,45328.946907
3061062,1400927.0,2.0,69.0,56.0,1.400927e+09,34619.753000,44792.800734,3,37.35,7.78,0.1124,12.450,2.593333,0.037467,1.0,45328.946907
3061063,1400927.0,3.0,80.0,54.0,1.400927e+09,34619.753000,44792.800734,3,37.35,7.78,0.1124,12.450,2.593333,0.037467,1.0,45328.946907

## Analysis

Total CO2

Compare to 6.6 billion tons CO2 equivalent ([EPA](https://www.epa.gov/ghgemissions/inventory-us-greenhouse-gas-emissions-and-sinks)), though includes other GHGs.

In [4]:
total_co2 / 1e9

6.884031485652741

In [5]:
mdf.poverty_rate(p, "spm_resources", "spm_povthreshold", "wt")

0.1532896866553634

In [6]:
mdf.poverty_rate(p, "spm_resources_new", "spm_povthreshold", "wt")

0.15018853668734483

In [10]:
1 - mdf.poverty_rate(p, "spm_resources_new", "spm_povthreshold", "wt") / mdf.poverty_rate(p, "spm_resources", "spm_povthreshold", "wt")

0.020230649795708655

In [11]:
1 - mdf.deep_poverty_rate(p, "spm_resources_new", "spm_povthreshold", "wt") / mdf.deep_poverty_rate(p, "spm_resources", "spm_povthreshold", "wt")

0.024789704725417305